:root {
    --main-color: rgb(249, 219, 224);
    --font-color: rgb(150, 41, 88);
    --second-color: rgb(180, 5, 81);
    --nav-padding: 12px;
}

a {
    color: var(--font-color) !important;
    text-decoration: none;
}

#check,.fa-bars {
    display: none;
    color: var(--font-color);
}

header {
    width: 100%;
    background-color: var(--main-color);
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    z-index: 20;
}

#logo {
    color: var(--font-color);
    font-size: 30px;
    font-weight: bold;
    padding-top: var(--nav-padding);
}

header nav ul {
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    gap: 2rem;
}

nav ul li {
    padding-top: var(--nav-padding);
}

nav li a,.nav-link {
    font-size: 22px;
}

.icons a {
    margin-left: 1rem;
    font-size: 22px;
}

header a:hover {
    color: white !important;
}
.footer{
    background-color: var(--font-color);
    padding: 2rem 0;
    color: var(--main-color);
}

.footer .foot-1 h2{
    font-size: 3rem;
    color: white;
}
.foot-1 p{
    padding-top: 1rem;
    font-size: 1.5rem;
    font-style: italic;
    color: var(--main-color);
}
.foot-2 h3,.foot-3 h3{
    font-size: 1.6rem;
    color: white;
    margin-bottom: 1.5rem;
}
.foot-2 ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.foot-2 ul li{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
}
.foot-2 ul a{
    color: var(--main-color) !important;
}
.foot-2 ul a:hover{
    color: black !important;
}
.foot-3 i{
    font-size: 1.5rem;
    padding-right: 1rem;
    color: var(--main-color) !important;
}
.foot-3 i:hover{
    color: black !important;
}
.foot-3 p{
    padding-top: 2rem;
    font-size: 2rem;
    font-weight: bold;
}
.foot-3 p a{
    color: var(--main-color) !important;
}

@media screen and (max-width:992px){
    .fa-bars {
        display: inline;
        padding: 6px;
        font-weight: bold;
        font-size: 30px;
    }
    header nav{
        background-color: var(--main-color);
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
    }
    header nav ul{
        flex-direction: column;
        padding: 12px;
        display: none;
    }
    nav li{
        border: 3px solid var(--second-color);
        padding: 8px;
        text-align: center;
    }
    #check:checked~nav >ul{
        display: flex;
    }
}